mixin hangmanWords(words = [])
	section#word--con.word--con
		p#word
		//- for word in words
		//- 	- var splitWord = word.split('')
		//- 		for letter in splitWord
		//- 			p(class=`hm-letter-${letter}`) #{letter}