extends layout
include mixins/_hangmanWords
include mixins/_letterBoard

block content
	
	div#modal.modal.modal--active
		form(id="form-modal"  action="" class="form--modal")
			h2 Hangman chat
			label(for="username") What should we call you?
			fieldset
				input(id="input-username" type="text" autofocus)
				input(type="submit" value="enter")

	main
		section
			+letterBoard()
			+hangmanWords()

		section.message--con
			ul#messages

			form(id="chat-form" class="chat--form" action="")
				input(id="message" type="text" autocomplete="on")
				input(type="submit" value="send")

	script(type="text/javascript" src="/socket.io/socket.io.js")
	script(type="text/javascript" src="/scripts/bundle.js")