extends layout
include mixins/_hangmanWords

block content
	+hangmanWords(hmWord)
	ul#messages

	form(id="chat-form", action="")
		input(id="m", autocomplete="on")
		button Send

	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/scripts/bundle.js")