:root {
  --grey: #c0c0c0;
  --light-grey: #efefef;
  --white: #fefefe;
  --blue: rgb(29, 127, 247);
  --black: #3a3a3a;
  --fbg-color: #fff;
  --primary-color: #0F31C9; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Helvetica, Arial; }

/*==========================
=== 
===========================*/
html,
body {
  display: flex;
  background-color: var(--primary-color);
  height: 100%;
  position: relative;
  padding: .6rem; }
  html > main,
  body > main {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--fbg-color); }

[type="submit"] {
  height: 3em;
  min-width: 3em;
  width: 15%;
  background: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 3px; }

[type="text"] {
  width: 80%;
  margin-right: .5%;
  border: 0;
  border-bottom: 2px solid var(--grey);
  padding: 10px; }
  [type="text"] + [type="submit"] {
    margin-left: 1em; }

/*==========================
=== The word to guess styling
===========================*/
.word--con,
.letter--con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.2rem 2.4rem; }
  .word--con span,
  .letter--con span {
    min-width: 1.2em; }

.word--con {
  position: relative;
  flex: 1;
  font-size: 1.6em;
  text-align: center; }
  .word--con span {
    position: relative;
    margin: 0 .2em; }

.letter--con {
  font-size: 1.2em;
  font-weight: 900;
  text-transform: uppercase; }
  .letter--con span {
    margin: .2em 1em;
    color: var(--grey);
    text-align: center; }

/*==========================
=== The textinput style - chat
===========================*/
main {
  display: flex;
  flex-direction: column; }

.message--con {
  display: flex;
  flex-direction: column;
  flex: 1; }
  .message--con ul {
    flex: 1;
    overflow-y: scroll;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .message--con li {
    display: block;
    max-width: 80%;
    word-wrap: break-word;
    margin: .6em 1em 0 1em;
    border-radius: 1em;
    padding: .5rem 1rem; }
  .message--con .room__message {
    max-width: 80%;
    background: var(--blue);
    color: var(--white);
    border-radius: 1em; }
  .message--con .room__message--own {
    max-width: 80%;
    background: var(--light-grey);
    color: var(--black);
    margin-left: auto; }

.chat--form {
  display: block;
  margin: .4rem; }
  .chat--form [type="text"] {
    margin-right: auto; }

/*==========================
=== Modal - username
===========================*/
fieldset {
  border: none; }

.modal {
  display: none; }

.modal--active {
  display: block; }
  .modal--active::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; }

.form--modal {
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  max-width: 40em;
  height: 15em;
  background: var(--white);
  margin: 5% auto;
  padding: 2em;
  z-index: 100; }
  .form--modal label {
    margin-bottom: 1em; }
